/* Variables */
:root {
  /* Colores en  base a https://flatuicolors.com/palette/defo */
  --turquoise: #1abc9c;
  --green-sea: #16a085;
  --emerald: #2ecc71;
  --nephritis: #27ae60;
  --peter-river: #3498db;
  --belize-hole: #2980b9;
  --amethyst: #9b59b6;
  --wisteria: #8e44ad;
  --wet-asphalt: #34495e;
  --midnight-blue: #2c3e50;
  --sun-flower: #f1c40f;
  --orange: #f39c12;
  --carrot: #e67e22;
  --pumpkin: #d35400;
  --alizarin: #e74c3c;
  --pomegranate: #c0392b;
  --clouds: #ecf0f1;
  --silver: #bdc3c7;
  --concrete: #95a5a6;
  --asbestos: #7f8c8d;
  --controls-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colorScheme {
  background-color: lighten(var(--lightAccent), 30%);
  border: 1px 1px 10px 2px darken(var(--backgroundBase), 20%);
  box-shadow: 1px solid darken(var(--backgroundBase), 35%);
  border-top: none;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  color: var(--wet-asphalt);
  background-color: var(--clouds);
  border: 1px solid #000;
  border-bottom: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.toolbar i {
  width: 25px;
  margin-left: 5px;
}

.toolbar .fa-maximize,
.toolbar .fa-minimize {
  margin-right: 0.25rem;
  margin-left: auto;
}

.toolbar .fa-maximize:hover,
.toolbar .fa-minimize:hover {
  color: var(--green-sea);
  cursor: pointer;
}

.editorWrap {
  max-width: 600px;
  margin: 1.125rem auto;
}

.editorWrap .toolbar {
  width: 99%;
}

.editorWrap textarea {
  color: var(--emerald);
  background-color: var(--midnight-blue);
  border: 1px solid #000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-top: none;
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

.previewWrap {
  color: var(--emerald);
  background-color: var(--midnight-blue);
  border: 1px solid #000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-top: none;
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
}

.maximized textarea {
  min-height: 95vh;
  resize: none;
}

#preview {
  padding: 0 1rem;
}

#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

#preview > p > code {
  padding: 3px;
}

#preview pre {
  display: block;
  overflow: auto;
  background: #000;
  padding: 5px;
  line-height: 1.2;
  color: #fff;
}

#preview h1 {
  border-bottom: 2px solid #000;
}

#preview h2 {
  border-bottom: 1px solid #000;
}

#preview table {
  border-collapse: collapse;
}

#preview td,
#preview th {
  border: 2px solid #000;
  padding-left: 5px;
  padding-right: 5px;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

/*Drum machine*/

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.drum-machine {
  background-color: var(--silver);
  padding: 20px 10px;
  border: 4px solid var(--belize-hole);
}

.drum-pad-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.drum-pad {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  cursor: pointer;
}

.activeStyle {
  background-color: var(--wet-asphalt);
  color: var(--clouds);
}

.inactiveStyle {
  background-color: var(--asbestos);
  color: var(--clouds);
}

.controls-container {
  width: 100%;
  height: var(--controls-height) * 3 + 32;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
}

.control {
  width: 100%;
  margin: auto;
}

.control p {
  font-weight: bold;
}

.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: var(--peter-river);
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.controls-container #display {
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  font-weight: bold;
}

/*--------------Calculator----------------*/

#calculator h1,
#calculator p {
  color: #fff;
}

.cal-layout {
  background-color: #dfe6e9;
  border: 1px #000 solid;
  max-width: 320px;
}

.cal-layout .calculator {
  max-width: 320px;
}

.current-operation {
  color: var(--wet-asphalt);
  text-align: right;
  padding: 0 10px;
}

.result-operation {
  color: #000;
  text-align: right;
  font-size: 3em;
  padding: 0 10px;
}

.keys-containter {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
}

.key-operation {
  text-align: center;
  background-color: var(--clouds);
  padding: 15px 0;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.key-number {
  text-align: center;
  background-color: #fff;
  padding: 15px 0;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.key-0 {
  text-align: center;
  background-color: #fff;
  padding: 15px 0;
  cursor: pointer;
  grid-column: 1/3;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.key-ac {
  text-align: center;
  background-color: var(--clouds);
  padding: 15px 0;
  cursor: pointer;
  grid-column: 1/3;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.key-equal {
  text-align: center;
  background-color: var(--clouds);
  padding: 15px 0;
  cursor: pointer;
  grid-column: 4/5;
  grid-row: 4/6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74b9ff;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
